In [1]:
import pandas as pd
from sqlalchemy import create_engine

import json

import numpy as np

import pymysql
pymysql.install_as_MySQLdb()

#from config import mypass

In [2]:
#Store CSV into a Data Frame
#Convert Zip Code (float into string)
csv_file = "Raw_Data/311_call_center.csv"
call_center_df = pd.read_csv(csv_file, dtype={"Zip Code":str}, keep_default_na=False)
call_center_df.head()

,Date,Time,Department Abbreviation,Department Name,Service Name,Call Resolution,Zip Code
0,2014-01-01T00:00:00,8:08:54,DOT,Department of Transportation,Parking Enforcement,Transfer (City),91605
1,2014-01-01T00:00:00,8:09:00,LAPD,Los Angeles Police Department,Police Stations (Front Desk / Public Counter -...,Gave Caller Information,90402
2,2014-01-01T00:00:00,8:09:34,DOT,Department of Transportation,Meter Request Service,Gave Caller Information,99999
3,2014-01-01T00:00:00,8:10:11,BOS,PW/Bureau of Sanitation,Replacement/Repair of Curbside Trash Containers,Gave Caller Information,90023
4,2014-01-01T00:00:00,8:11:01,BOS,PW/Bureau of Sanitation,Bulky Item Pick-up,Service Request Processed,90044

In [3]:
#Drop all NaN values
call_center_df = call_center_df.dropna(how='any')
call_center_df.head()

,Date,Time,Department Abbreviation,Department Name,Service Name,Call Resolution,Zip Code
0,2014-01-01T00:00:00,8:08:54,DOT,Department of Transportation,Parking Enforcement,Transfer (City),91605
1,2014-01-01T00:00:00,8:09:00,LAPD,Los Angeles Police Department,Police Stations (Front Desk / Public Counter -...,Gave Caller Information,90402
2,2014-01-01T00:00:00,8:09:34,DOT,Department of Transportation,Meter Request Service,Gave Caller Information,99999
3,2014-01-01T00:00:00,8:10:11,BOS,PW/Bureau of Sanitation,Replacement/Repair of Curbside Trash Containers,Gave Caller Information,90023
4,2014-01-01T00:00:00,8:11:01,BOS,PW/Bureau of Sanitation,Bulky Item Pick-up,Service Request Processed,90044

In [4]:
#Remove unnecessary columns
new_call_center_df = call_center_df[["Time", "Department Name", "Service Name", "Zip Code"]].copy()
new_call_center_df.head()

,Time,Department Name,Service Name,Zip Code
0,8:08:54,Department of Transportation,Parking Enforcement,91605
1,8:09:00,Los Angeles Police Department,Police Stations (Front Desk / Public Counter -...,90402
2,8:09:34,Department of Transportation,Meter Request Service,99999
3,8:10:11,PW/Bureau of Sanitation,Replacement/Repair of Curbside Trash Containers,90023
4,8:11:01,PW/Bureau of Sanitation,Bulky Item Pick-up,90044

In [5]:
#Rename columns
new_call_center_df = new_call_center_df.rename(columns=\
                                      {"Time": "Time_",\
                                      "Department Name": "Department_Name",\
                                      "Service Name": "Service_Name",\
                                      "Zip Code": "Zip_Code"})
new_call_center_df.head()

,Time_,Department_Name,Service_Name,Zip_Code
0,8:08:54,Department of Transportation,Parking Enforcement,91605
1,8:09:00,Los Angeles Police Department,Police Stations (Front Desk / Public Counter -...,90402
2,8:09:34,Department of Transportation,Meter Request Service,99999
3,8:10:11,PW/Bureau of Sanitation,Replacement/Repair of Curbside Trash Containers,90023
4,8:11:01,PW/Bureau of Sanitation,Bulky Item Pick-up,90044

In [6]:
#Truncate data to make it easier to convert to database
new_call_center_trunc=new_call_center_df.truncate(before=None, after=499)
new_call_center_trunc

,Time_,Department_Name,Service_Name,Zip_Code
0,8:08:54,Department of Transportation,Parking Enforcement,91605
1,8:09:00,Los Angeles Police Department,Police Stations (Front Desk / Public Counter -...,90402
2,8:09:34,Department of Transportation,Meter Request Service,99999
3,8:10:11,PW/Bureau of Sanitation,Replacement/Repair of Curbside Trash Containers,90023
4,8:11:01,PW/Bureau of Sanitation,Bulky Item Pick-up,90044
5,8:11:07,PW/Bureau of Street Services,Maintenance of Public Street Landscape,91605
6,8:11:25,PW/Board of Public Works,Graffiti Removal - Community Beautification,90029
7,8:12:23,PW/Bureau of Sanitation,Bulky Item Pick-up,90019
8,8:12:36,Los Angeles Police Department,877 ASK-LAPD - Non-emergency Police Service,90004
9,8:13:56,PW/Bureau of Street Services,Street Use Permits,90042
10,8:14:25,Department of Transportation,Impounded/Towed Vehicle,99999
11,8:15:05,PW/Bureau of Street Services,Bureau of Street Services Complaints,90043
12,8:15:16,,,90043
13,8:16:20,Los Angeles Police Department,Police Stations (Front Desk / Public Counter -...,90025
14,8:16:44,Department of Transportation,Parking Enforcement,90042
15,8:17:02,Department of Transportation,Parking Enforcement,90019
16,8:18:00,Department of Transportation,Parking Enforcement,90062
17,8:20:51,Department of Transportation,Abandoned Vehicles,90016
18,8:21:00,Los Angeles Police Department,877 ASK-LAPD - Non-emergency Police Service,91401
19,8:27:33,Department of Water and Power,Billing Inquiries/Payment Arrangements,91335
20,8:27:39,PW/Bureau of Street Services,Street Use Permits,90018
21,8:28:21,Department of Transportation,Impounded/Towed Vehicle,90028
22,8:28:42,Los Angeles Fire Department,Fire Department - Red Flag Day Parking Restric...,90068
23,8:30:16,Department of Transportation,Parking Enforcement,90018
24,8:30:31,Department of Transportation,Parking Enforcement,91335
25,8:32:09,Department of Water and Power,Emergency Service/Trouble Requests,90731
26,8:35:02,PW/Bureau of Sanitation,Bulky Item Pick-up,90026
27,8:37:58,PW/Bureau of Street Services,Bureau of Street Services Complaints,90016
28,8:38:17,PW/Bureau of Sanitation,Bulky Item Pick-up,90059
29,8:38:21,Department of Transportation,Parking Enforcement,90036
...,...,...,...,...
470,14:44:12,PW/Bureau of Sanitation,Bulky Item Pick-up,90032
471,14:44:30,Los Angeles Police Department,Police Stations (Front Desk / Public Counter -...,90037
472,14:45:09,PW/Board of Public Works,Graffiti Removal - Community Beautification,90057
473,14:47:19,PW/Board of Public Works,Graffiti Removal - Community Beautification,90057
474,14:48:56,Department of Transportation,Blocked Driveways,90056
475,14:52:30,PW/Bureau of Sanitation,Bulky Item Pick-up,91304
476,14:54:43,Los Angeles Police Department,877 ASK-LAPD - Non-emergency Police Service,90047
477,14:56:38,Los Angeles Police Department,877 ASK-LAPD - Non-emergency Police Service,90037
478,14:57:02,Department of Water and Power,DWP Discount Rates,91423
479,14:58:37,PW/Bureau of Sanitation,Bulky Item Pick-up,90012
480,14:58:55,PW/Bureau of Sanitation,Bulky Item Pick-up,90004
481,14:59:09,Los Angeles Fire Department,Fire Dept. Fire Station Locations,91307
482,14:59:49,PW/Bureau of Sanitation,Bulky Item Pick-up,90044
483,14:59:54,PW/Bureau of Sanitation,Bulky Item Pick-up,90005
484,15:01:38,Department of Transportation,Impounded/Towed Vehicle,91401
485,15:02:04,,,99999
486,15:02:05,PW/Bureau of Sanitation,Bulky Item Pick-up,90043
487,15:02:26,PW/Bureau of Sanitation,Bulky Item Pick-up,90731
488,15:04:13,PW/Board of Public Works,Graffiti Removal - Community Beautification,90032
489,15:05:16,PW/Bureau of Sanitation,Bulky Item Pick-up,91311
490,15:06:23,PW/Bureau of Sanitation,Dead Animal Collection,90065
491,15:06:38,PW/Bureau of Sanitation,Bulky Item Pick-up,90003
492,15:07:08,Los Angeles Police Department,Police Stations (Front Desk / Public Counter -...,91352
493,15:08:45,PW/Bureau of Sanitation,Bulky Item Pick-up,90068
494,15:09:13,PW/Bureau of Sanitation,Bulky Item Pick-up,90034
495,15:10:31,PW/Bureau of Sanitation,Request Storm Drain Maintenance/Repair,91311
496,15:12:01,Los Angeles Fire Department,Fire Dept. Bureau of Emergency Services,90026
497,15:13:56,,,
498,15:14:35,PW/Board of Public Works,Graffiti Removal - Community Beautification,91306
499,15:14:40,Department of Transportation,Impounded/Towed Vehicle,90042

In [7]:
new_call_center_trunc.dtypes

Time_              object
Department_Name    object
Service_Name       object
Zip_Code           object
dtype: object

In [8]:
#Store json into a Data Frame
data = json.load(open('Raw_Data/Project.json'))

census_df = pd.DataFrame(data["data"])
census_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,228,A47815EC-0DA0-499D-9CE6-616A23C4F155,228,1457290076,944059,1457290076,944059,None,91371,1,73.5,0,1,1,1.00
1,1,1AE8EAF5-D6E6-4AF9-88FD-3CF179F2A8FC,1,1457290075,944059,1457290075,944059,None,90001,57110,26.6,28468,28642,12971,4.40
2,2,D2556F56-7FB5-4A23-8F98-358D907E9647,2,1457290075,944059,1457290075,944059,None,90002,51223,25.5,24876,26347,11731,4.36
3,3,5586CDA7-6181-489C-999C-422C2CE6ADE3,3,1457290075,944059,1457290075,944059,None,90003,66266,26.3,32631,33635,15642,4.22
4,4,D14749EB-BDDA-4F4C-BE52-19572F7477E3,4,1457290075,944059,1457290075,944059,None,90004,62180,34.8,31302,30878,22547,2.73

In [9]:
#Remove unnecessary columns
new_census_df = census_df[[8, 9, 10, 11, 12, 13, 14]].copy()
new_census_df.head()

      8      9     10     11     12     13    14
0  91371      1  73.5      0      1      1  1.00
1  90001  57110  26.6  28468  28642  12971  4.40
2  90002  51223  25.5  24876  26347  11731  4.36
3  90003  66266  26.3  32631  33635  15642  4.22
4  90004  62180  34.8  31302  30878  22547  2.73

In [10]:
#Rename columns
new_census_df = new_census_df.rename(columns=\
                                        {8: "Zip_Code",\
                                        9: "Total_Population",\
                                        10: "Median_Age", \
                                        11: "Total_Males",\
                                        12: "Total_Females",\
                                        13: "Total_Household",\
                                        14: "Average_Household_Size"})
new_census_df.head()

,Zip_Code,Total_Population,Median_Age,Total_Males,Total_Females,Total_Household,Average_Household_Size
0,91371,1,73.5,0,1,1,1.00
1,90001,57110,26.6,28468,28642,12971,4.40
2,90002,51223,25.5,24876,26347,11731,4.36
3,90003,66266,26.3,32631,33635,15642,4.22
4,90004,62180,34.8,31302,30878,22547,2.73

In [11]:
new_census_df.dtypes

Zip_Code                  object
Total_Population          object
Median_Age                object
Total_Males               object
Total_Females             object
Total_Household           object
Average_Household_Size    object
dtype: object

In [12]:
#Connect to local database
rds_connection_string = "root:Taurai3055%@127.0.0.1/advertising_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [13]:
#Confirm Tables
engine.table_names()

['call_center', 'census']

In [14]:
#Use pandas to load csv converted DataFrame into database
new_call_center_trunc.to_sql(name='call_center', con=engine, if_exists='replace', index=True)

In [15]:
#Use pandas to load json converted DataFrame into database
new_census_df.to_sql(name='census', con=engine, if_exists='replace', index=True)

In [16]:
#Confirm data has been added by querying the call_center table
pd.read_sql_query('select * from call_center', con=engine).head()

,index,Time_,Department_Name,Service_Name,Zip_Code
0,0,8:08:54,Department of Transportation,Parking Enforcement,91605
1,1,8:09:00,Los Angeles Police Department,Police Stations (Front Desk / Public Counter -...,90402
2,2,8:09:34,Department of Transportation,Meter Request Service,99999
3,3,8:10:11,PW/Bureau of Sanitation,Replacement/Repair of Curbside Trash Containers,90023
4,4,8:11:01,PW/Bureau of Sanitation,Bulky Item Pick-up,90044

In [17]:
#Confirm data has been added by querying the census table
pd.read_sql_query('select * from census', con=engine).head()

,index,Zip_Code,Total_Population,Median_Age,Total_Males,Total_Females,Total_Household,Average_Household_Size
0,0,91371,1,73.5,0,1,1,1.00
1,1,90001,57110,26.6,28468,28642,12971,4.40
2,2,90002,51223,25.5,24876,26347,11731,4.36
3,3,90003,66266,26.3,32631,33635,15642,4.22
4,4,90004,62180,34.8,31302,30878,22547,2.73

In [18]:
query = 'SELECT call_center.Department_Name, call_center.Service_Name, call_center.Zip_Code, census.Median_Age, census.Total_Males, census.Total_Females FROM call_center JOIN census ON call_center.Zip_Code = census.Zip_Code'

In [19]:
df = pd.read_sql(query, con=engine)
df.head()

,Department_Name,Service_Name,Zip_Code,Median_Age,Total_Males,Total_Females
0,Department of Transportation,Parking Enforcement,91605,31.9,28417,27926
1,Los Angeles Police Department,Police Stations (Front Desk / Public Counter -...,90402,47.0,5809,6441
2,PW/Bureau of Sanitation,Replacement/Repair of Curbside Trash Containers,90023,28.4,23037,22866
3,PW/Bureau of Sanitation,Bulky Item Pick-up,90044,28.6,43128,46651
4,PW/Bureau of Street Services,Maintenance of Public Street Landscape,91605,31.9,28417,27926